name: build2yun

on:
  workflow_dispatch:
    inputs:
      docker_username:
        description: 'Docker Registry Username'
        required: true
        default: 'imocence'
      docker_password:
        description: 'Docker Registry Password'
        required: true
        type: string

env:
  REGISTRY: registry.cn-hongkong.aliyuncs.com
  IMAGE_NAME: winser/rustdesk
  TAG: v1.4.4

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Log in to Docker registry
      if: github.event_name == 'workflow_dispatch'
      run: |
        echo "${{ github.event.inputs.docker_password }}" | docker login \
          --username="${{ github.event.inputs.docker_username }}" --password-stdin $REGISTRY
      env:
        DOCKER_USERNAME: ${{ github.event.inputs.docker_username }}
        DOCKER_PASSWORD: ${{ github.event.inputs.docker_password }}
    
    - name: Log in to Docker registry (for push/pull_request)
      if: github.event_name != 'workflow_dispatch'
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login --username="${{ secrets.DOCKER_USERNAME }}" --password-stdin $REGISTRY
    
    - name: Build Docker image
      run: |
        docker build --tag $REGISTRY/$IMAGE_NAME:$TAG --tag $REGISTRY/$IMAGE_NAME:$TAG --file Dockerfile .
    
    - name: Push Docker image
      run: |
        docker push $REGISTRY/$IMAGE_NAME:$TAG
        docker tag $REGISTRY/$IMAGE_NAME:$TAG $REGISTRY/$IMAGE_NAME:latest
        docker push $REGISTRY/$IMAGE_NAME:latest
        docker run --rm -v $PWD:/home/user/rustdesk -v rustdesk-git-cache:/home/user/.cargo/git \
        -v rustdesk-registry-cache:/home/user/.cargo/registry -e PUID="$(id -u)" -e PGID="$(id -g)" $REGISTRY/$IMAGE_NAME:latest
    - name: upload-files
      uses: actions/upload-artifact@v4
      with:
        name: rustdesk-generated-files
        path: |
          ./*
          !**/node_modules/
          !**/*.log
        retention-days: 7
